<?xml version="1.0"?>
<config>
    <modules>
        <Pitech_CardCadou>
            <version>0.1.0</version>
        </Pitech_CardCadou>
    </modules>
    <global>
        <models>
            <cardcadou>
                <class>Pitech_CardCadou_Model</class>
                <resourceModel>cardcadou_resource</resourceModel>
            </cardcadou>
            <cardcadou_resource>
                <class>Pitech_CardCadou_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>cardcadou_transaction</table>
                    </transaction>
                </entities>
            </cardcadou_resource>
        </models>
        <blocks>
            <cardcadou>
                <class>Pitech_CardCadou_Block</class>
            </cardcadou>
        </blocks>
        <helpers>
            <cardcadou>
                <class>Pitech_CardCadou_Helper</class>
            </cardcadou>
        </helpers>
        <resources>
            <cardcadou_setup>
                <setup>
                    <module>Pitech_CardCadou</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cardcadou_setup>
            <cardcadou_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cardcadou_write>
        </resources>
        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <cardcadou_block_card>
                        <class>cardcadou/observer</class>
                        <method>blockCardCadou</method>
                    </cardcadou_block_card>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <set_custom_discount_pitech>
                        <type>singleton</type>
                        <class>Pitech_CardCadou_Model_Observer</class>
                        <method>setDiscount</method>
                    </set_custom_discount_pitech>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_payment_capture>
                <observers>
                    <block_cardcadou_pitech>
                        <type>singleton</type>
                        <class>Pitech_CardCadou_Model_Observer</class>
                        <method>blockCardCadou</method>
                    </block_cardcadou_pitech>
                </observers>
            </sales_order_payment_capture>
            <sales_order_save_after>
                <observers>
                    <order_status_change_pitech>
                        <type>singleton</type>
                        <class>Pitech_CardCadou_Model_Observer</class>
                        <method>orderStatusChange</method>
                    </order_status_change_pitech>
                </observers>
            </sales_order_save_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cardcadou before="Mage_Adminhtml">Pitech_CardCadou_Adminhtml</cardcadou>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <cardcadou>
                    <file>cardcadou.xml</file>
                </cardcadou>
            </updates>
        </layout>
        <routers>
            <cardcadou>
                <use>standard</use>
                <args>
                    <module>Pitech_CardCadou</module>
                    <frontName>cardcadou</frontName>
                </args>
            </cardcadou>
        </routers>
        <translate>
            <modules>
                <Pitech_CardCadou>
                    <files>
                        <default>Pitech_CardCadou.csv</default>
                    </files>
                </Pitech_CardCadou>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <cardcadou_cancel_blocked_cards>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cardcadou/cron::cancelBlockedCards</model>
                </run>
            </cardcadou_cancel_blocked_cards>
        </jobs>
    </crontab>

    <adminhtml>
        <layout>
            <updates>
                <cardcadou>
                    <file>cardcadou.xml</file>
                </cardcadou>
            </updates>
        </layout>
        <translate>
            <modules>
                <Pitech_CardCadou>
                    <files>
                        <default>Pitech_CardCadou.csv</default>
                    </files>
                </Pitech_CardCadou>
            </modules>
        </translate>
    </adminhtml>
</config>
